@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #100e1d;
}
.container{
    max-width: 1350px;
    width: 90%;
    margin: auto;
}
/** Header ***/
header{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h1 a{
    color: #fff;
}

header nav a{
    color: #fff;
    margin-left: 1.4rem;
    transition: all 400ms;
}
header nav a:hover{
    color: #46a0f5;
}

header.sticky h1 a{
    color: #000;
}
/** banner o hero ***/
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3rem);

}
.hero .hero-info{
    overflow: hidden;
    width: 40%;
    text-align: center;
    position: relative;
    animation-name: mover-text;
    animation-duration: 2s;
}
@keyframes mover-text{
    from{
        transform: translateX(-150%);
    }
    to{
        transform: translateX(0%);
    }
}
.hero .hero-info > h2{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: mover;
}
.hero .hero-info .hero-button{
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
    background: none;
    padding: 0.7rem;
    margin: 2rem 0 0 1.1rem;
    font-size: 1.1rem;
    color: #fff;
    border: 2px solid #fff;
    transition: all .5s;
}
.hero .hero-info .hero-button::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -6px;
    width: calc(100% + 12px);
    height: calc(100% - 12px);
    background-color: #100e1d;
    transition: ease-in-out .5s;
    transform: scaleY(1);
}
.hero .hero-info .hero-button:hover:before{
    transform: scaleY(0);

}
.hero .hero-info .hero-button::after {
    content: '';
    position: absolute;
    top: -6px;
    left: +6px;
    width: calc(100% - 12px);
    height: calc(100% + 12px);
    background-color: #100e1d;
    transition: ease-in-out .5s;
    transform: scaleX(1);
}
.hero .hero-info .hero-button:hover:after{
    transform: scaleX(0);
}
.hero .hero-info .hero-button span{
    position: relative;
    z-index: 3;
}
.hero .hero-img{
    width: 40%;
}
.hero .hero-img img{
    width: 100%;
    animation-duration: 3s;
    animation-name: opacidad-img;
}
/*animacion de la imagen del hero*/
@keyframes opacidad-img{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/** Skills ***/

#habilidades{
    width: 100%;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 4rem;
}
#habilidades > h2{
    font-size: 2rem;
}
.container-skills{
    width: 50%;
}
.container-skills .skill{
    padding-left: 3.2rem;
    position: relative; 
    margin-bottom: 1rem;   
}
/** Logo skill ***/
.container-skills .skill .skill-logo {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddbdb3d;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.container-skills .skill .skill-logo i{
    font-size: 1.9rem;
}
.container-skills .skill .skill-logo img{
    width: 1.9rem;
}
.container-skills .skill > h3{
    font-size: 1.3rem;
    font-weight: 600;
}
.container-skills .skill > p{
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.69);
    margin-bottom: 1rem;
}
.container-skills .skill:nth-child(3) > p{
    margin-bottom: 1.7rem;
}
/** barra blanca skill ***/
.container-skills .skill .container-skill-level{
    width: 400px;
    height: .4rem;
    background-color: rgba(255, 255, 255, 0.449);
    border-radius: .4rem;
    margin-top: .4rem;
    position: relative;
}
/** barra azul skill (El porcentaje) para cada tecnologia ***/
.container-skills .skill .container-skill-level .skill-level{
        height: 100%;
        background: rgb(70,160,245);
        background: linear-gradient(90deg, rgba(70,160,245,1) 24%, rgba(32,101,173,1) 73%);    
        border-radius: .4rem;
}
/** añaniendo el tamaño de la barra azul por separado ***/

.container-skills .skill .container-skill-level .skill-level-html{
    width: 60%;
}
.container-skills .skill .container-skill-level .skill-level-css{
    width: 60%;
}
.container-skills .skill .container-skill-level .skill-level-javascript{
    width: 55%;
}
.container-skills .skill .container-skill-level .skill-level-webpack{
    width: 40%;
}
/*Animaciones Level*/
@keyframes level-html{
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
}
@keyframes level-css{
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
}
@keyframes level-javascript{
    from{
        width: 0%;
    }
    to{
        width: 55%;
    }
}
@keyframes level-webpack {
    from{
        width: 0%;
    }
    to{
        width: 40%;
    }
}
/*muestra el porcentaje en numero*/
.container-skills .skill .container-skill-level .level-percentage {
    position: absolute;
    top: -28px;
    background-color: #1462f3;
    font-size: .7rem;
    padding: .1rem .5rem;
}
.container-skills .skill .container-skill-level .level-percentage::before {
    content: '';
    display: block;
    border-bottom: 6px solid transparent;
    border-top: 6px solid #1462f3;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -12px;
    right: 0;
}
.container-skills .skill .container-skill-level .level-percentage-html{
    left: calc(60% - 33.65px);
}
.container-skills .skill .container-skill-level .level-percentage-css{
    left: calc(60% - 33.65px);
}
.container-skills .skill .container-skill-level .level-percentage-javascript{
    left: calc(55% - 33.65px);
}
.container-skills .skill .container-skill-level .level-percentage-webpack{
    left: calc(40% - 33.65px);
}
/*Animaciones tooltips*/
@keyframes level-percentage-html{
    from{
        left: 0;
    }
    to{
        left: calc(60% - 33.65px);
    }
}
@keyframes level-percentage-css{
    from{
        left: 0;
    }
    to{
        left: calc(60% - 33.65px);
    }
}
@keyframes level-percentage-javascript{
    from{
        left: 0;
    }
    to{
        left: calc(55% - 33.65px);
    }
}
@keyframes level-percentage-webpack{
    from{
        left: 0;
    }
    to{
        left: calc(40% - 33.65px);
    }
}
.container-skills .skill:nth-child(3) > p{
    margin-bottom: 1.7rem;
}
.portafolio{
    margin-bottom: 3rem;
}
.portafolio > h2{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.portafolio .cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 300px));
    grid-auto-rows: 400px;
    justify-content: center;
    gap: 2rem;
}
.portafolio .cards .card{
    overflow: hidden;
    border-radius: .4rem;
}
.portafolio .cards .card .card-title{
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin-bottom: .4rem;
}
.portafolio .cards .card .card-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: .4rem;
}
.portafolio .cards .card .card-img img{
    width: 100%;
}
.portafolio .cards .card:hover .card-info{
    transform: translateY(-89%);
}
.portafolio .cards .card .card-info{
    background-color:  #fff ;
    height: 100%;
    padding: .8rem 1rem 0 1rem;
    transition: all 500ms;
    border-radius: .4rem;
}
.portafolio .cards .card .card-info > p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: .2rem ;
    font-weight: 600;
}
.portafolio .cards .card .card-info .card-tecnology ul{
    list-style: none;
}
.portafolio .cards .card .card-info .card-tecnology ul li{
    display: flex;
    align-items: center;
    font-weight: 400;
}
.bx{
    font-size: 2rem;
}
.bxl-html5{
    color:  #eb860e ;
}
.bxl-css3{
    color:  #2c99ef ;
}
.bxl-javascript{
    color:  #dce215;
}
.card-bottom{
    width: 5.5rem;
    height: 2rem;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem auto 0 auto;
    color: #fff;
    border-radius: .2rem;
}
.card-bottom a{
      color: #fff;  
}
.portafolio .cards .card .card-info .card-description > p{
    margin-top: .4rem;
    text-align: center;
    font-weight: 500;
}
.acerca-de .acerca-de_heading h2{
    text-align: center;
    color: #fff;
    font-size: 2rem;
}
.acerca-de .acerca-de_container-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    overflow: hidden;
}
.acerca-de .acerca-de_container-text .acerca-de_text{
    width: 40%;
}

@keyframes acerca-text{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.acerca-de .acerca-de_container-text .acerca-de_text span{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .5rem;
}
.acerca-de .acerca-de_container-text .acerca-de_img{
    width: 40%;
}
.acerca-de .acerca-de_container-text .acerca-de_img img{
    width: 100%;
}
@keyframes acerca-img{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 3rem;
    text-transform: uppercase;
}
footer a{
    color: #fff;
    cursor: pointer;
}
