
@media (max-width: 1200px){
    .hero .hero-info > h2 {
        font-size: 2.2rem;
    }
}
@media (max-width: 1074px){
    .portafolio .cards {
        grid-template-columns: repeat(2, minmax(250px, 300px));
    }
}
@media (max-width: 780px){
    header.active{
        position: fixed;
        z-index: 1000;
        background-color: #100e1d;
        left: 0;
        padding: 0 2rem;
    }
    header nav {
        position: fixed;
        top: 3rem;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: #100e1d;
        z-index: 1000;
        transition: linear 700ms;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header nav a{
        color: #aaa;
        font-size: 2rem;
        margin: 4rem 0 0 0 ;
    }
    header nav a:nth-child(1){
        margin: 0;
    }
    header .menu{
        display: block;
    }

    header nav.active{
        transform: translateX(-100%);
    }
    header .menu i{
        color: #fff;
    }
    .hero .hero-info .hero_container-btns {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
    }
    .portafolio .cards {
        grid-template-columns: repeat(2, minmax(250px, 280px));
    }
    .acerca-de .acerca-de_container-text .acerca-de_text .cv-mobile{
        display: flex;
    }
    .acerca-de .acerca-de_container-text .acerca-de_text .cv-desktop{
        display: none;
    }
}
@media (max-width: 1014px){
    .container-skills {
        width: 100%;
    }
}

@media (max-width: 740px){
    .hero .hero-info {
        width: 100%;
    }
    .hero .hero-img {
        display: none;
    }
    .container-skills {
        width: 100%;
    }
}
@media (max-width: 600px){
    .portafolio .cards {
        grid-template-columns: repeat(1, minmax(250px, 280px));
        gap: 3rem;
    }
    .acerca-de .acerca-de_container-text{
        flex-direction: column;
    }
    .acerca-de .acerca-de_container-text .acerca-de_text{
        width: 100%;
    }
    .acerca-de .acerca-de_container-text .acerca-de_img{
        margin-top: 3rem;
    }
}
@media (max-width: 550px){
    .container-skills .skill .container-skill-level {
        width: 300px;
    }
    .acerca-de .acerca-de_container-text .acerca-de_img {
        width: 55%;
    }
}
@media (max-width: 404px){
    .container-skills .skill .container-skill-level {
        width: 230px;
    }
}
@media (max-width: 318px){
    .container-skills .skill .container-skill-level {
        width: 190px;
    }
}